<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /musicofminh/public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
